@charset "utf-8";

@font-face {
	font-family: MainTitleFont;
	src: url(../fonts/quantifybold.ttf)
}
/* CSS Document */

h1 {
	font-family: MainTitleFont;
	font-size: 3rem;
}

h4 
{
	padding-top: 20px;
}

h5 
{
	font-size: 2.0rem;
	font-weight: bolder;
}


body {
	-webkit-animation: colorchange 30s infinite;
	animation: colorchange 30s infinite;
	
	color:#151416;
}

.header-area
{
	color: aliceblue;
}

.header-subtext 
{
	margin: auto;
	width: 80%;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  margin-top: 0px;
  height: 30rem;
  width: auto;
  background-image: url("../images/joel-filipe-195321-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.img-profile 
{
	width: auto;
	height: 17.5rem;
	border-radius: 100%;
	animation: float 6s ease-in-out infinite;
	margin-top: 15px;
}

.media-body {
	text-align: center;
	font-size: 1.25rem;
}

.mr-3spin 
{
	display: block;
	margin: auto;
	margin-bottom: 30px;
	width: 5em;
	height: 5em;
	animation: spin 4s linear infinite;
}

.mr-3float 
{
	display: block;
	margin: auto;
	margin-bottom: 30px;
	width: 5em;
	height: 5em;
	animation: float 4s ease-in-out infinite;
}

.img-fluid
{
	transition: 0.4s;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	margin-top: 15px;
}

.img-fluid:hover
{
	transform: scale(1.05, 1.05);
}

.justified-text 
{
	text-align: justify;
}

.btn-dark 
{
	display: block;
	margin: auto;
	width: 11em;
	height: 3em;
	border-radius: 10px;
	font-size: 1.25em;
	font-weight: bolder;
	/*background-color: #A02EBF;*/
	transition: 0.4s;
	border: hidden;
}

/*bouncing misc icon*/
@keyframes bouncing-loader {
  to {
    opacity: 0.7;
    transform: translate3d(0, -1rem, 0);
  }
}
.bouncing-loader {
  display: flex;
  justify-content: center;
}
.bouncing-loader > div {
  width: 1.5rem;
  height: 1.5rem;
  margin: 2.7rem 0.2rem;
  background: #000000;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
/*/bouncing misc icon*/

@-webkit-keyframes colorchange {
	
	0% {background: #f8f9fa;}
	50% {background: #f8f9fa;}
	100% {background: #f8f9fa;}
}

@keyframes colorchange {
	0% {background: #f8f9fa;}
	50% {background: #f8f9fa;}
	100% {background: #f8f9fa;}
}

@keyframes float {
	0% {
		transform: translatey(-5px);
	}
	50% {
		transform: translatey(5px);
	}
	100% {
		transform: translatey(-5px);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}